* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F4EB;    
}

main {  
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 10px;
}

main [class^="main-"] {
    margin: 20px 0;
}
.main-top {
    flex-direction: row;
    display: flex;
    padding-bottom: 100px;

}
span {
    font-size: 2rem;
    font-weight: 800;
    color: #4F82AB; 
}
.space {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: #98C8E5;
    border: 1px solid #98C8E5;
    border-radius: 200px 200px 200px 200px;
    text-align: center;
    line-height: 200px;
}

.line-title {
    padding: 30px 5px;
    border-radius: 100px 0 0 100px;
    color: #050505;
    font-weight: 900;
    
}

.join-title {
    text-align: center;
    margin: 50px;
    font-size: 2.5rem;
    padding: 70px;
}
.join-middle {
    justify-content: center;
    display:flex;
    justify-content:center; 
}
.join-img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 1000px;
    justify-content: center;
    margin: 0 auto;
   
}

.img {
    border-radius: 70%;
    width: 150px;
    height: 150px;
}
.join-content-box {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 2rem;
    text-align: center;
    margin-left: 450px;
    position: absolute;
}
.line-title {
    font-size: 2rem;
    text-align: center;
    margin: 5px;
    width: 200px;
}
.line-title > input {
    border: 3px solid #4F82AB;
    border-radius: 10px;
    font-size: 2rem;
    outline: none;
}
.join-content-box > label {
    margin: 10px;
    position: relative;
    top: 5px;
}
input[type="date"] {
    background-size: cover;
}
