* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F6F4EB; 
    font-family: 'GmarketSansMedium';
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr; 
    align-items: center;
    justify-items: stretch;
}

.main-title {
    font-size: 3rem;
    font-weight: 900;
    color: #4F82AB;
    padding: 50px 200px 50px 200px;
}

.header-profile-name {
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;
}

.header-profile-img {
    border-radius: 70%;
    width: 100px;
    height: 100px;
}

.box {
    display: grid;
    grid-template-columns: 0.1fr auto;
    width: 1200px;
    height: 650px;
    justify-content: center;
    margin: auto;
}

.menu {
    border: 3px solid #799BC4;
    background-color: #799BC4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.selected-menu {
    background-color: #4F82AB;
    border: 3px solid #4F82AB;
}

.content {
    border: 3px solid #799BC4;
    border-radius: 10px;
    height: 600px;
    width: 1000px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-image: url("../../이미지/모눈.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gage {
    display: grid;
    grid-template-rows: 3fr 2fr;
    place-items: center;
}

.gage-back {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: 3px 3px 0 pink,
                -3px -3px 0 pink,
                3px -3px 0 pink,
                -3px 3px 0 pink;
}

.gage-bar {
    position: absolute;
    bottom: 0;
    background-color: pink;
    border-radius: 50px;
    width: 250px;
    height: 40px;

}

.gage-text {
    background-color: white;
    color: #4F82AB;
    font-size: 1.2rem;
    font-weight: 900;
}

.info-con {
    display: grid;
    grid-template-rows: 1fr 3.5fr 1fr;

}

.info-title {
    width: 480px;
    height: 50px;
    margin: auto;
    background-color: #4F82AB;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-left {
    margin: auto;
    width: 320px;
    height: 500px;
    place-items: center;

}
.profile-img {
    border-radius: 70%;
    width: 220px;
    height: 220px;
}

.info-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-image: url("../../이미지/profile-list.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 85px;
    align-items: center;

}

[class^='info-text'] {
    width: 70%;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
}

.info-text1 {
    background-color: #DADADA;

}

.info-text2 {
    background-color: #EDEDED;

}


.info-dday {
    width: 90%;
    height: 100%;
    /* background-image: url("../../이미지/dday-con.png");
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    margin: 0 auto ;
}

.dday-text {
    margin-top: 50px;
}