* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 시작 페이지 */

.line {
    /* background: url("/carecat/이미지/격자.jpg")no-repeat center fixed;
    background-size: cover; */
    background-color: #F6F4EB;
    height: 700px;
    margin: 200px auto;
    padding: 50px;
    border-top: 5px solid #799BC4;
    border-bottom: 5px solid #799BC4;

}

.main-title-img {
    height: 100%;
    width: 800px;
}

/* 시작 페이지 */
.start-title {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    height: 400px;
}

.start-button {
    border: 1px solid #4F82AB;
    background-color: #4F82AB;
    border-radius: 20px;
    color: #ffffff;
    width: 150px;
    height: 90px;
    font-size: 2rem;
    font-weight: 900;
    margin: 0 auto;
}

.start-button > a {
    display: block;
    text-align: center;
    line-height: 90px;
}

/* 공통 */

body {
    background: url("../css/background.jpg") center fixed;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #F6F4EB; */
    font-family: 'GmarketSansMedium';
}

/* form {
    font-family: 'GmarketSansMedium';
} */


/* 반복 디자인 */

a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

header {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: stretch;
}

.title-img {
    height: 150px;
    width: 250px;
    /* border: 5px solid #4F82AB;
    border-radius: 60%; */
}

.main-title {
    font-size: 3rem;
    font-weight: 900;
    color: #4F82AB;
    padding: 20px 200px 20px 200px;
    height: 200px;
}

.header-profile-name {
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;
}

.header-profile-img {
    border-radius: 70%;
    width: 100px;
    height: 100px;
    border: 5px solid #4F82AB;
}

.main-box {
    background-color: #F6F4EB;
    height: 700px;
    margin: 0 auto;
    padding: 50px;
    border-top: 5px solid #799BC4;
    border-bottom: 5px solid #799BC4;
}

.box {
    display: grid;
    grid-template-columns: 0.1fr auto;
    width: 1200px;
    height: 650px;
    justify-content: center;
    margin: auto;
}

.menu {
    border: 3px solid #98C8E5;
    background-color: #98C8E5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.selected-menu {
    border: 3px solid #799BC4;
    background-color: #799BC4;
}

.content-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("../css/content-back.jpg");
    border: 5px solid #799BC4;
    border-radius: 10px;
    height: 600px;
    width: 1000px;
}

.info-title {
    width: 480px;
    height: 50px;
    margin: auto;
    background-color: #4F82AB;
    border-radius: 50px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}


/* 가입 페이지 */
.join-title {
    text-align: center;
    margin: 50px;
    font-size: 1.5rem;
}

.join-img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 1000px;
    justify-content: center;
    margin: 50px auto;
}

.img {
    border-radius: 70%;
    width: 150px;
    height: 150px;
}

.join-content-box {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 2rem;
    text-align: center;
}

.content-title {
    font-size: 2rem;
    text-align: center;
    margin: 10px;
    width: 200px;
}

.content-title > input {
    border: 3px solid #4F82AB;
    border-radius: 10px;
    font-size: 2rem;
    outline: none;
}

.join-content-box > label {
    margin: 10px;
    position: relative;
    top: 5px
}

input[type="date"] {
    background: transparent;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-left {
    margin: auto;
    display: grid;
    grid-template-rows: 1ㄺ auto;
    place-items: center;

}
.info-pic {
    border-radius: 70%;
    width: 220px;
    height: 220px;
    place-items: center;
}


/* ------------------------------------------------ */

.info-edit {
    width: 150px;
    height: 50px;
    margin: 15px auto;
    background-color: #4F82AB;
    border-radius: 50px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 1.2rem;
    border: none;
    font-family: 'GmarketSansMedium';
}

.up-btn {
    width: 70px;

}

.cancel {
    background-color: #8a8a8a;
}

/* ------------------------------------------------ */

.info-right {
    display: grid;
    grid-template-rows: repeat(5, 1fr) auto;
    align-items: center;
    width: 500px;
    height: 300px;

}

[class^='info-text'] {
    width: 70%;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 00;
    font-size: 1.2rem;
    outline: none;
}

/* ----------------------------- */

.info-text1 {
    background-color: #DADADA;
    margin: 5px;
    border: none;
    font-family: 'GmarketSansMedium';
}

.info-text2 {
    background-color: #EDEDED;
    margin: 5px;
    border: none;
    font-family: 'GmarketSansMedium';

}


.dday {
    background-color: #DADADA;
    width: 70%;
    height: 90px;
    border-radius: 30px;
    text-align: center;
    line-height: 90px;
    margin: 5px;
    font-size: 1.2rem;
    border: none;
    font-family: 'GmarketSansMedium';
    
}

.dday-up {
    color: #8a8a8a;
}

/* ----------------------------- */

.gauge {
    place-items: center;
    margin: auto;
}

.gauge-back {
    position: relative;
    width: 700px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 3px 3px 0 pink,
                -3px -3px 0 pink,
                3px -3px 0 pink,
                -3px 3px 0 pink;
}

.gauge-bar {
    position: absolute;
    bottom: 0;
    background-color: pink;
    border-radius: 50px;
    width: 550px;
    height: 50px;

}

.gauge-text {
    position: absolute;
    left: 10px;
    color: #4F82AB;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 20px;
    line-height: 15px;

}

.gauge-percent {
    position: absolute;
    right: 10px;
    color: #4F82AB;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 20px;
    line-height: 15px;

}

.gauge-number {
    position: absolute;
    right: 10px; /* gauge-back의 우측에 위치 */
    bottom: 50%;
    transform: translate(0, 50%); /* 세로 가운데 정렬 */
    color: #4F82AB;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 20px;
}


/* ------------------------------------------------------------------------------ */


::-webkit-scrollbar {
  height: 20px; /* 가로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
  background: #799BC4; /* 스크롤바 막대 색상 */
  border: 1px solid #799BC4; /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}
/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
  background: rgb(121, 155, 196, 0.3); /* 스크롤바 뒷 배경 색상 */
  border-radius: 12px 12px 12px 12px;
}